{% extends 'base.html' %}

{% block title %}

Shopping Cart

{% endblock %}

{% block content %}

<!-- CART HEADER -->

<section class="bg-light py-5 mb-5">

    <div class="container text-center">

        <h1 class="fw-bold">

            Shopping Cart

        </h1>

        <p class="text-muted mb-0">

            Home / Cart

        </p>

    </div>

</section>

<!-- CART SECTION -->

<div class="container mb-5">

    {% if cart_items %}

    <div class="table-responsive">

        <table class="table table-bordered align-middle text-center">

            <thead class="table-dark">

                <tr>

                    <th>

                        Image

                    </th>

                    <th>

                        Product

                    </th>

                    <th>

                        Price

                    </th>

                    <th>

                        Quantity

                    </th>

                    <th>

                        Subtotal

                    </th>

                    <th>

                        Action

                    </th>

                </tr>

            </thead>

            <tbody>

                {% for item in cart_items %}

                <tr>

                    <td width="120">

                         <img src="{{ item.product.product_image.url }}"
                            class="img-fluid rounded"
                            style="width:80px;height:80px;object-fit:contain;">

                    </td>

                    <td>

                        {{ item.product.product_title }}

                    </td>

                    <td>

                        ₹{{ item.product.price }}

                    </td>

                    <td>

                        <a href="{% url 'decrease_quantity' item.id %}"
                           class="btn btn-outline-dark btn-sm">

                            -

                        </a>

                        <span class="mx-3">

                            {{ item.quantity }}

                        </span>
                        <br><br>

{% if item.product.stock_quantity == 0 %}

<span class="badge bg-danger">

    Out Of Stock

</span>

{% elif item.product.stock_quantity <= 5 %}

<span class="badge bg-warning text-dark">

    Only {{ item.product.stock_quantity }} Left

</span>

{% else %}

<span class="badge bg-success">

    In Stock

</span>

{% endif %}

                        <a href="{% url 'increase_quantity' item.id %}"
                           class="btn btn-outline-dark btn-sm">

                            +

                        </a>

                    </td>

                    <td>

                        ₹{% widthratio item.product.price 1 item.quantity %}

                    </td>

                    <td>

                        <a href="{% url 'remove_from_cart' item.id %}"
                           class="btn btn-danger btn-sm">

                            🗑 Remove

                        </a>

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

    <div class="row mt-4">

        <div class="col-12 col-md-6 mb-3">

           <a href="{{ request.session.continue_url|default:'/' }}"
                 class="btn btn-outline-dark">

                 ← Continue Shopping

            </a>

        </div>
<div class="col-12 col-md-6 text-center text-md-end">

            <h4 class="fw-bold">

    Grand Total

</h4>

<h2 class="text-success">

    ₹{{ total }}

</h2>

           <a href="{% url 'checkout' %}"
   class="btn btn-dark mt-2">

    Proceed To Checkout →

</a>

        </div>

    </div>

    {% else %}

    <div class="text-center py-5">

        <h3>

            🛒 Your Shopping Cart Is Empty

        </h3>

        <p class="text-muted">

            Add some products to continue shopping.

        </p>

        <a href="{% url 'home' %}"
           class="btn btn-dark">

            Shop Now

        </a>

    </div>

    {% endif %}

</div>

{% endblock %}